/*basic styles*/
html, body{
	width: 100%;
	/*height:100%;*/
}
body{
	padding:5%;
	padding-top:2%;
}
/*header*/
.header{
	display: flex;
	justify-content: space-between;
}
.navigation{
	display: flex;
	justify-content: space-between;
}
.nav-flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #707070;
}
.logo{
	height: 50px;
}
.nav-li{
	margin-right: 20px;
	font-size: 20px;
	/*font-weight: bold;*/
	color: grey;
}
/*banner section*/
.banner-section{
	width: 100%;
	height: 484px;
	position: relative;
	padding-top:2%;
}
.banner{
	width: 100%;
	position: absolute;
}
.banner-box{
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 400px;
	height: 200px;
	background-color: white;
	padding: 2%;
}
.banner-h2{
	font-size: 24px;
	color: grey;
	margin: 20px 0px;
}
.banner-p{
	font-size: 16px;
	color: grey;
}
.banner-read{
	font-size: 16px;
	color: grey
	margin:20px 60px 30px 60px;
}
/*popular section*/

.popular-p{
	margin: 40px 0px;
	font-size: 24px;
	color: grey;
	font-weight:bold;
}
.popular-div{
	display: flex;
	justify-content: space-between;
}
.popular-box{
	width: 390px;
	box-shadow: 0px 0px 4px gray;
}
.popular-image{
	width: 100%;
	margin-right: 20px;
}
.popular-box:last-child{
	margin-right: 0px;
}
.popular-more{
   margin-top: 40px;
}

.load{
	text-align: center;
	font-size: 24px;
	color: grey;
	margin-top: 30px;
}
/*footer*/
.footer-container{
	width: 100%;
	height: 150px;
	background-color: #2E2E2E;
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 50px;
}
.footer-container:last-child{
	margin-right: 40px;
}
.footer-logo{
	height: 70px;
}
.footer-ul{
	color: #fff;
}
.main-info{
	color: #fff;
}